# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index.html$ - [L]
RewriteCond %{error.html} !-f
RewriteCond %{error.html} !-d
RewriteRule . /index.html [L]
</IfModule>
# END WordPres
